layout {
    // Задаем стартовый размер новых окон в половину экрана
    default-column-width { proportion 0.5; }

    gaps 5
    center-focused-column "never"
    
    focus-ring {
        width 3
        active-color "#cc4dff"
        inactive-color "#622fed"
    }
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {}
}
