layout {

    focus-ring {
        active-color   "#67e4a1"
        inactive-color "#14291e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67e4a1"
        inactive-color "#14291e"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#14291e70"
    }

    tab-indicator {
        active-color   "#67e4a1"
        inactive-color "#0c8d48"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67e4a180"
    }
}

recent-windows {
    highlight {
        active-color "#67e4a1"
        urgent-color "#fd4663"
    }
}
